<div class="card" *ngIf="form">
  <div class="card-body">
    <h5 class="card-title">{{ editMode ? 'Editar' : 'Nova' }} Empresa</h5>
    <div class="card-text">
      <form [formGroup]="form">
        <div class="form-group">
          <div class="form-row">
            <div class="col-6">
              <label for="registeredName">Razão Social</label>
              <input class="form-control" type="text" id="registeredName" formControlName="registeredName" />
              <small *ngIf="form.get('registeredName').invalid && form.get('registeredName').touched">Invalid
                Field</small>
            </div>
            <div class="col-6">
              <label for="taxPayerRegistration">CNPJ</label>
              <input class="form-control" type="text" id="taxPayerRegistration"
                formControlName="taxPayerRegistration" />
              <small
                *ngIf="form.get('taxPayerRegistration').invalid && form.get('taxPayerRegistration').touched">Invalid
                Field</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-12">
              <label class="edit-card" for="stateSubscription">Inscrição Estadual</label>
              <input class="form-control edit-card" type="text" id="stateSubscription"
                formControlName="stateSubscription" />
              <small *ngIf="form.get('stateSubscription').invalid && form.get('stateSubscription').touched">Invalid
                Field</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-12">
              <label class="edit-card" for="tradingName">Nome Fantasia</label>
              <input class="form-control edit-card" type="text" id="tradingName" formControlName="tradingName" />
              <small *ngIf="form.get('tradingName').invalid && form.get('tradingName').touched">Invalid Field</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="d-flex flex-row-reverse">
      <div class="p-2" *ngIf="editMode; else elseMode">
        <button (click)="addCompany()" [disabled]="form.invalid" class="btn btn-primary">
          Salvar <fa-icon [icon]="save"></fa-icon>
        </button>
      </div>
      <ng-template #elseMode>
        <div class="p-2">
          <button (click)="addCompany()" [disabled]="form.invalid" class="btn btn-success">
            Adicionar <fa-icon [icon]="plus"></fa-icon>
          </button>
        </div>
      </ng-template>
      <div class="p-2">
        <button class="btn btn-danger" [routerLink]="['/admin', 'companies']">
          Cancelar <fa-icon [icon]="cancel"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
